
  html {
    scroll-behavior: smooth;
  }
  .sidepanel {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 100vh;
    top: 0;
    right: 158px;
    background-color: #000;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .sidepanel a {
    padding: 8px 8px 20px 45px;
    text-decoration: none;
    font-size: 30px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
    text-align: left;
    font-weight: 100;
  }

  .sidepanel a:hover {
    color: #f1f1f1;
  }

  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
  }

  .openbtn {
    font-size: 40px;
    cursor: pointer;
    background-color: #000;
    color: white;
    border: none;
    margin-top: 50px;
  }
  .openbtn i {
    font-weight: 100;
  }

  .openbtn:hover {
    background-color: rgba(68, 68, 68, 0);
  }
  .right-bg-color {
    background-color: #000;
  }
  .menu-text {
    font-size: 30px;
    font-weight: 100;
    margin-top: -20px;
  }
  .logo-bottom {
    bottom: 30px;
    position: absolute;
    right: 15px;
  }
  .complete-btn {
    border-radius: 15px;
    border: 2px solid black;
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  }
  .complete-btn:hover {
    text-decoration: none;
  }
  .first-div {
    height: 170vh;
    background-image: url(../img/asset-1.png);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
    text-align: center;
  }
  .bx-shadow {
    box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.75);
  }
  .img-one {
    width: 500px;
    float: right;
    height: 275px;
  }
  .img-two {
    position: absolute;
    left: 75px;
    top: 225px;
    z-index: -1;
    width: 550px;
    height: 300px;
  }
  .first-div h1 {
    padding-top: 40vh;
    font-size: 60px;
  }
  
  .clip-path-div {
    clip-path: polygon(0 30%, 100% 0, 100% 100%, 0% 90%);
    margin-top: -599px;
    height: 2250px;
    /* background-image: url(../img/bg-2.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    background: rgb(204,204,204);
background: linear-gradient(25deg, rgb(226, 226, 226) 0%, rgba(255,255,255,1) 100%, rgba(255,255,255,1) 100%);
  }
  .second-div {
    position: absolute;
    top: 35%;
    color: white;
    text-align: center;
  }
  .second-div-box {
    width: 70%;
    border-radius: 75px;
  }

  .home-carousel .carousel-item img {
    height: 1000px;
  }
  .home-carousel .carousel-control-next-icon,
  .home-carousel .carousel-control-prev-icon {
    width: 40px !important;
    height: 40px !important;
  }
  .home-carousel .carousel-control-next,
  .home-carousel .carousel-control-next,
  .home-carousel .carousel-control-prev,
  .home-carousel .carousel-control-prev {
    opacity: 1 !important;
  }
  .home-carousel a.carousel-control-next {
    border: 5px solid;
    height: 75px;
    margin: auto 30px;
    width: 75px;
    border-radius: 50%;
  }
  .home-carousel a.carousel-control-prev {
    border: 5px solid;
    height: 75px;
    margin: auto 30px;
    width: 75px;
    border-radius: 50%;
  }
  .home-carousel .carousel-caption {
    left: 0% !important;
    right: 0% !important;
    bottom: 0% !important;
    width: 100% !important;
    background: rgb(2, 0, 36);
    background: linear-gradient(
      0deg,
      rgba(2, 0, 36, 0) 0%,
      rgba(75, 75, 75, 0.5550595238095238) 35%,
      rgba(75, 75, 75, 1) 100%
    );
  }
  
  
  .list-style-type-none {
    list-style-type: none;
  }
  .footer-strip {
    background-color: #595959;
  }
  
  
  .gradient-border-top {
    border-top: 2px solid transparent;
    -webkit-border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image-slice: 1;
  }
  .gradient-border-right {
    border-right: 2px solid transparent;
    -webkit-border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image-slice: 1;
  }
  .gradient-border-bottom {
    border-bottom: 2px solid transparent;
    -webkit-border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image-slice: 1;
  }
  .gradient-border-left {
    border-left: 2px solid transparent;
    -webkit-border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image-slice: 1;
  }
  .gradient-border {
    border: 2px solid transparent;
    -webkit-border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image-slice: 1;
  }
  
  .about-section-heading > h1,
  .about-section-heading > h2 {
    line-height: 0.9;
  }
  .about-section-heading > h1 {
    font-size: 50px;
  }
  .about-section-heading > h2 {
    display: inline-block;
    font-size: 65px;
    font-weight: 400;
    border-bottom: 1.5px solid transparent;
    -webkit-border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image: linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    border-image-slice: 1;
    padding-bottom: 10px;
  }
  .gradient-color {
    background: -webkit-linear-gradient(
      90deg,
      rgba(196, 145, 31, 1) 0%,
      rgba(247, 229, 124, 1) 20%,
      rgba(196, 145, 31, 1) 50%,
      rgba(247, 229, 124, 1) 80%,
      rgba(196, 145, 31, 1) 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .clip-path-footer {
    clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  }


  /* ========== about page styling ================== */

  .about-main-heading
  {
      font-size: 80px;
      font-weight: lighter;
      text-transform: uppercase;
      line-height: 0.9;
  }
  .slogan-left-bar,.slogan-right-bar{
      height: 2px;
      /* background: rgb(225,230,77); */
      background: linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
      width: 20%;
      display: inline-block;
      margin: 8px 26px;
  
  }
  .slogan-text{
      font-size: 26px;
  }
  .about-section-heading>h1,.about-section-heading>h2{
      line-height: 0.9;
  }
  .about-section-heading>h1{
      font-size: 50px;
  }
  .about-section-heading>h2{
      display: inline-block;
      font-size: 65px;
      font-weight: 400;
      border-bottom: 1.5px solid transparent;
      -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image-slice:1;
      padding-bottom: 10px;
  }
  .about-section .description
  {
      font-size: 24px;
      font-style: italic;
      text-align: justify;
  }
  .about-our-values h1{
      text-transform: uppercase;
      font-weight: 500;
      letter-spacing: 4px;
      font-size: 24px;
  }
  .about-our-values p{
      font-size: 18px;
  }
  
  .about-our-values.three
  {
      border-top:2px solid black;
  }
  .about-our-values.three::after {
      padding: 0;
      margin: 0;
      display: block;
      content: "";
      width: 85%;
      height: 2.1px;
      background-color: white;
      position: absolute;
      top:-2px;
      left: 0;
    }
  
  .about-our-values.four
  {
      border-top:2px solid black;
  }
  .about-our-values.four::after {
      padding:0;margin:0;display:block;/* probably not really needed? */
      content: "";
      width:85%;
      height:2.1px;/* slight higher to work around rounding errors(?) on some zoom levels in some browsers. */
      background-color:white;
      position: absolute;
      right:0;
      top:-2px;
    }
    .about-our-values.two{
      border-left:2px solid black;
    }
  
    .about-our-values.two::after {
      padding: 0;
      margin: 0;
      display: block;
      content: "";
      height: 40%;
      width: 3.1px;
      background-color: white;
      position: absolute;
      left: -2px;
      top: 0px;
    }
    .about-our-values.four{
      border-left:2px solid black;
    }
  
    .about-our-values.four::before {
      padding: 0;
      margin: 0;
      display: block;
      content: "";
      height: 40%;
      width: 3.1px;
      background-color: white;
      position: absolute;
      left: -2px;
      bottom: 0px;
    }
    .person-profile-card .card-body{
      border-top: 1.5px solid transparent !important;
      border-left: 1.5px solid transparent !important;
      border-right: 1.5px solid transparent !important;
      border-bottom: 1.5px solid transparent !important;
      -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image-slice:1;
    }
    /* .person-profile-card .card-body:before {
      border-right: solid 50px transparent;
      border-left: solid 50px transparent;
      border-bottom: solid 50px black;
      transform: translateX(-50%) translateY(-70px);
      position: absolute;
      content: '';
      left: 50%;
      height: 0;
      width: 0;
      z-index: 111;
    } */
    /* .person-profile-card .card-body:after {
      border-right: solid 51px transparent;
      border-left: solid 51px transparent;
      border-bottom: solid 51px transparent;
      -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
      border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
      border-image-slice:1;
      transform: translateX(-50%);
      position: absolute;
      z-index: -1; 
      content: '';
      bottom: 49%;
      left: 50%;
      height: 0;
      width: 0;
    } */
    .profile-arraw-up{
      height: 50px;
      width: 50px;
      display: inline-block;
      transform: rotate(45deg) translateX(-50%);
      background: antiquewhite;
      position: absolute;
      top: -8px;
      left: 50%;
      background-color: black;
      border-top: 1.5px solid transparent !important;
      border-left: 1.5px solid transparent !important;
      -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
      border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
      border-image-slice:1;
    }
    .person-profile-card .about-profile-title{
      font-size: 38px;
      font-weight: 300;
      padding-right: 30px;
      font-style: italic;
      border-bottom: 1.5px solid transparent !important;
      -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image-slice:1;
    }
    .person-profile-card .about-profile-designation{
      font-size: 18px;
      font-weight: 300;
      padding-right: 30px;
      font-style: italic;
    }
    .person-profile-card .about-profile-description{
      font-weight: 200;
      font-size: 16px;
    }
  /* ============== about page styling end ================ */

  /* =========== Reach Out Page Styling ============ */
  .reachout-form .form-group{
    margin-bottom: 60px;
    width: 80%;
  }
  .reachout-form .form-control
  {
    border:none;
    border-bottom: 1px solid black;
    border-radius: 0;
    font-size: 18px;
    font-style: italic;
    color: black;
  }
  .reachout-form .form-control:focus{
    outline: none;
    box-shadow: none;
  }
  .reachout-form .reachout-submit-btn{
    background-color: black;
    color: lightgrey;
    border-radius: 0;
    border: none;
    padding: 10px 20px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 14px;
  }
  .reachout-map{
    width: 500px;
    height: 445px;
    /* background-color: blanchedalmond; */
    z-index: 11111;
    display: inline-block;
  }
  .reachout-map iframe{
    width: 500px;
    height: 445px;
    border: 0;
    box-shadow: 06px 06px 4px 1px rgba(3, 3, 3, 0.507);
  }
  .reachout-first-border{
    height: 200px;
    width: 100px;
    border-top: 1.5px solid transparent !important;
    border-left: 1.5px solid transparent !important;
    border-right: 1.5px solid transparent !important;
    border-bottom: 1.5px solid transparent !important;
    -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image-slice:1;
    position: absolute;
    top: -15px;
    left: 0px;
    z-index:-1;
  }
  .reachout-second-border{
    height: 200px;
    width: 200px;
    border-top: 1.5px solid transparent !important;
    border-left: 1.5px solid transparent !important;
    border-right: 1.5px solid transparent !important;
    border-bottom: 1.5px solid transparent !important;
    -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image-slice:1;
    position: absolute;
    bottom: -15px;
    right: 0px;
    z-index:-1;
  }
  .reachout-contact-detail{
    list-style: none;
    text-align: left;
    border-right: 1.5px solid transparent !important;
    -webkit-border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image:linear-gradient(90deg, rgba(196,145,31,1) 0%, rgba(247,229,124,1) 20%, rgba(196,145,31,1) 50%, rgba(247,229,124,1) 80%, rgba(196,145,31,1) 100%);
    border-image-slice:1;
  }
  .reachout-contact-detail li{
    margin-bottom: 5px;
  }
  .reachout-contact-detail li i{
    width: 30px;
  }
  .social-media-links a{
    color: black !important;
    margin-left: 15px;
    height: 28px;
  }
  .social-media-links a i{
    font-size: 26px;
    color:black
  }
  /* ================== Reach Out Page Styling End =================== */
  /* ============== Companies page style start ============ */
  .carousel-control-prev-custom {
    top: 95%;
    left: 30px;
    height: 50px;
    width: 50px;
    background-color: white;
    opacity: 1;
  }
  .carousel-control-next-custom{
    top: 95%;
    left: 90px;
    height: 50px;
    width: 50px;
    background-color: white;
    opacity: 1;
  }
  .carousel-control-prev-custom-right {
    top: 95%;
    left: 1150px;
    height: 50px;
    width: 50px;
    background-color: white;
    opacity: 1;
  }
  .carousel-control-next-custom-right{
    top: 95%;
    right: 30px;
    height: 50px;
    width: 50px;
    background-color: white;
    opacity: 1;
  }
  .company-info-box-right{
    background-color: black;
    width: 450px;
    height: 600px;
    position: absolute;
    top: 215px;
    right: -215px;
  }
  .company-info-box-social{
    position: absolute;
    bottom: 25px;
    right: 0;
    left: 0;
  }
  .company-info-box-left{
    background-color: black;
    width: 450px;
    height: 600px;
    position: absolute;
    top: 215px;
    left: -215px;
  }
  /* ============== Companies page style end ============ */
